.carousel {
    margin-top: 150px;
    font-size: 32px;
    font-weight: 500;
    color: #4f4f4f;
    text-align: center;
}
.slider {
margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 30px;

}

.slider__body {
    overflow: hidden;
    border-radius: 30px;

}

.slider__inner {
    max-width: 1200px;
    display: flex;
    transition: ease-in-out .4s;
    border-radius: 30px;
}

.slider_item {
    flex: 0 0 100%;
}

.slider__item>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.left_arrow {
    transform: translateX(35px);
    opacity: 1;
    overflow: visible;
    z-index: 111;
}
.right_arrow {
    transform: translateX(-35px);
    opacity: 1;
    overflow: visible;
}
.left_arrow> svg,.right_arrow>svg {
    width: 30px;
    height: 30px;
}

.left_arrow.hidden {
    opacity: 0;
    overflow: hidden;

}
.right_arrow.hidden {
    opacity: 0;
    overflow: hidden;
}
